############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


#############
## NPM
#############
node_modules/
/src/jquery.popups.old.js
/src/jquery.modal.old.js
