// demo.less

#room-to-scroll {
	height: 600px;
}

#main-examples,
#fit-examples {
	> div {
		text-align: center;
	}

	button {
		margin-bottom: 20px;
	}
}

/* articles need padding-top for bootstrap scroll spy because the top nav is 50px tall*/
article {
	padding-top: 50px;
}

aside {
	margin-top: 20px;
}

.popup-container {
	border: 1px solid black;
	padding: 10px;
}

.bubble {

	&.set-width {
		width: 500px;

		&.middle {
			margin: 0 20px;
			width: auto;
		}
	}

	&.fit-width {
		max-width: none;
		width: 800px;
	}

	&.fit-height {
		max-width: none;
		height: 300px;
	}
}