#room-to-scroll {
  height: 600px;
}
#main-examples > div,
#fit-examples > div {
  text-align: center;
}
#main-examples button,
#fit-examples button {
  margin-bottom: 20px;
}
/* articles need padding-top for bootstrap scroll spy because the top nav is 50px tall*/
article {
  padding-top: 50px;
}
aside {
  margin-top: 20px;
}
.bubble.set-width {
  width: 300px;
}
.bubble.set-width.middle {
  margin: 0 20px;
  width: auto;
}
.bubble.fit-width {
  max-width: none;
  width: 800px;
}
.bubble.fit-height {
  max-width: none;
  width: 400px;
  height: 300px;
}
.bubble.flip-width {
  width: 500px;
}
#examples label {
  margin-right: 15px;
}
#examples .form-control {
  display: inline-block;
  width: 200px;
}
