#room-to-scroll {
  height: 600px;
}
#main-examples > div,
#fit-examples > div {
  text-align: center;
}
#main-examples button,
#fit-examples button {
  margin-bottom: 20px;
}
/* sections need padding-top for bootstrap scroll spy because the top nav is 50px tall*/
section {
  padding-top: 50px;
}
.bubble.set-width {
  width: 500px;
}
.bubble.fit-width {
  max-width: none;
  width: 800px;
}
.bubble.fit-height {
  max-width: none;
  height: 300px;
}
