// demo.less

#room-to-scroll {
	height: 600px;
}

#main-examples,
#fit-examples {
	> div {
		text-align: center;
	}

	button {
		margin-bottom: 20px;
	}
}

/* articles need padding-top for bootstrap scroll spy because the top nav is 50px tall*/
article {
	padding-top: 50px;
}

aside {
	margin-top: 20px;
}

.bubble {

	&.fit-width {
		max-width: none;
		width: 800px;
	}

	&.fit-height {
		max-width: none;
		width: 400px;
		height: 300px;
	}

	&.flip-width {
		width: 500px;
	}
}

#examples {
	label {
		margin-right: 15px;
	}

	.form-control {
		display: inline-block;
		width: 200px;
	}
}